/BeatBoxer-Tui/target
/BeatBoxer-Engien/build/
/BeatBoxer-Engien/.gradle/
.idea/
BeatBoxer-Tui/ui_states/ignore_writing.bin
fromEngien_shm.bin
toEngien_shm.bin
1_player_wave_form.bin
2_player_wave_form.bin
CDJ-BeatBoxer